$primary-background-color: #022C43
$floating-color: #115173
$text-color-default: #F4F3EE
$text-color-damped: #C4C4C4
$accent-color: #FFD700
$color-good: #6BAA75
$color-bad: #F05D5E

.hidden
  display: none

.modal-cover
  position: fixed
  top: 0vw
  left: 10vw 
  width: 100vw
  height: 100vh


.modal
  padding: 1vw
  padding-top: 2vw
  padding-bottom: 2vw
  position: fixed
  border-radius: 0.2vw
  width: 60vw
  height: auto
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.modal:hover .page-content
  pointer-events: none

.close-button
  position: absolute
  top: 3%
  right: 1%
  height: 10%
  width: 10%
  fill: $color-bad

@media only screen and (max-width: 700px)
  .modal-cover
    position: fixed
    top: 0vw
    left: 0vw 
    width: 100vw
    height: 92vh

  .modal
    padding: 1vh
    position: fixed
    border-radius: 0.2vw
    width: 60vw
    height: auto
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .modal:hover .page-content
    pointer-events: none

  .close-button
    position: absolute
    top: 3%
    right: 1%
    height: 10%
    width: 10%
    fill: $color-bad
