body {
  background-color: #022C43;
  color: #F4F3EE;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.25vw;
}

body::-webkit-scrollbar-track {
  background: #115173;
}

body::-webkit-scrollbar-thumb {
  background: #C4C4C4;
}

.grid-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.page-header {
  font-size: 2vw;
}

.info-header {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2vw;
}

.movieTitle {
  font-size: 3vw;
  max-width: 30vw;
  margin: 0;
}

.damped-text {
  font-size: 1.4vw;
  color: #C4C4C4;
}

.small-info-text {
  font-size: 1.4vw;
  font-weight: bold;
  margin: 0 auto;
}

svg {
  width: 60%;
  height: inherit;
  fill: inherit;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: block;
}

.floating {
  box-shadow: 0.2vw 0.2vw 0.2vw 0rem #00000040;
}

.grey {
  background-color: #115173;
}

.dark {
  background-color: #022C43;
}

.icon-active {
  fill: #FFD700;
  color: #FFD700;
}

.info-container {
  display: grid;
  grid-template-areas: "poster title" "poster info-1" "poster description" "poster info-2";
  grid-area: info;
  column-gap: 4rem;
  row-gap: 1rem;
  justify-items: start;
  align-items: center;
}

.movie-liker-container {
  display: grid;
  grid-template-areas: "info info" "like dislike";
  column-gap: 4rem;
  row-gap: 1rem;
  justify-items: start;
  align-items: center;
}

.movie-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3vw;
  margin-bottom: 5vw;
}

.SmallInfo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.unfocused {
  filter: blur(20px) saturate(0);
  transition: filter 100ms ease;
}

.poster-container {
  margin-left: auto;
  width: 20vw;
  border-radius: 0.5rem;
  grid-area: poster;
}

.poster-container-list {
  grid-area: auto;
  width: 15vw;
  height: auto;
}

.info-box {
  padding: 1rem;
  width: 30vw;
  border-radius: 0.5rem;
  grid-area: description;
}

.small-box {
  width: auto;
  height: 1.7vw;
  margin: 0;
  margin-right: 2vw;
  text-align: center;
}

.clickable {
  transition: transform 500ms ease;
}

.clickable:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .page-content {
    width: 100vw;
    height: 92vh;
    align-items: stretch;
    overflow: scroll;
  }

  .grid-center {
    height: 92vh;
  }

  .floating {
    box-shadow: 0.5vh 0.5vh 0.5vh 0vh #00000040;
  }

  .info-container {
    grid-row-gap: 1vh;
    grid-template-areas: "poster" "title" "description";
    justify-items: center;
  }

  .SmallInfo-container {
    display: none;
  }

  .info-box {
    width: 70vw;
    max-height: 15vh;
    overflow: scroll;
  }

  .poster-container {
    height: 50vh;
    width: auto;
    margin: auto;
  }

  .poster-container-list {
    width: 40vw;
    height: auto;
  }

  .movie-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
    height: 92vh;
  }

  .page-header {
    font-size: 4vh;
  }

  .movieTitle {
    font-size: 4vh;
    height: auto;
    max-width: 70vw;
    display: none;
  }

  .info-header {
    display: none;
  }

  .subtext {
    font-size: 2vh;
  }
}

/*# sourceMappingURL=style.css.map */
